/* body {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
} */
.mainDiv {
  display: grid;
  justify-content: center;
  margin-top: 200px;
  align-items: center;
  width: 100%; 
}
.container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.registerBtn {
  width: 11rem;
  height: 3em;
  margin-right: 10px;
  background-color: blue;
  font-size: 14px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.loginBtn {
  width: 100px;
  color: green;
  background: transparent;
  border: 1px solid green;
  border-radius: 6px;
  font-weight: bold;
}